body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background-color:#f2eeed;
}

/* NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover {
  color: #333;
  font-style: italic;
}

/* remove teh colors on the nav, we want it transparent */
.navbar-inverse,
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:active,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:active,
.navbar-inverse .navbar-nav > .active > a:focus  {
  background-color: transparent;
  border: none;
  color: #333;
}

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}

/* END NAVBARz
-------------------------------------------------- */


/* HEADER
-------------------------------------------------- */

.infoPageHeader {
  width: 100%;
  height: 100px;
}

.infoPageHeader > .container > h1 {
  font-size: 70px;
}

/* END HEADER
-------------------------------------------------- */